dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
Projet.pdf
.ghc.environment.*

# For LaTeX document
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
